
html{
	font-size: 62.5%;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.container{
	position: relative;
}
/* header menu */
.header{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.burger-menu-icons-container{
	display: none;
}
.top-header{
	display: flex;
	flex-wrap: wrap;
	font-size: 1.5rem;
	justify-content:space-around;
	align-items: center;

}

.header-logo img{
	height: 100%;
	width: 15rem;
}

.header-search{
	flex-grow: 1;
	position: relative;
	
}

.header-search-input{
	width: 100%;
	border-radius: 2rem;
	height: 4rem;
	outline: none;
	padding: 1.3rem;
	box-sizing:border-box;
	background-color:#EBEBEB;
	border: none;
	color: grey;
	font-size: 1.8rem;
}

.header-search-btn{
	background-color: transparent;
	position: absolute;
	right: .8rem;
	top: 1.3rem;
	outline: none;
	border: none;

}
.header-links{
	margin-left:1rem;
}
.header-link{
	font-family: 'Josefin Sans', sans-serif;
	color: #525050;
	padding-right: 1.5rem; 
	text-align: center;
}


.hidden{
	display: block;
	font-weight: 100;
	text-align: center;	
}

.header-link:hover{
	color: #CAC7BE;

}

/* end of header menu */

/* navbar */


.navbar-menu {
	display: flex;
	font-size: 1.5rem;
	list-style-type: none;
	justify-content: flex-start;
	
}
.nav-item{
	margin-right: 3rem;
}

.nav-link{
	text-decoration: none;
	color: black;

}

.nav-link:active{
	font-weight: 500;
}

.nav-link:hover{
	color: #CAC7BE;
}



	


/* end of navbar */


/* Hero header */
.hero{
	height: 80vh;
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url(../img/hero-img.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
}
.hero-banner{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:
	color: #fff;
}
.hero-heading{
	font-size: 2.1rem;
	font-family: "Montserrat" sans-serif;
	color: #fff;
	letter-spacing: .2rem;

}
.hero-banner-content-heading{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	font-size: 2.6rem;
	color: #e5e5e5;
	justify-content: center;
	text-align: center;

}
.banner-heading{
	margin: 0;
	position: relative;
	font-size: 15rem;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
	color: #fca311;
	
}
.banner-heading p{
	margin:0;
}
.banner-heading-percentage{
	position: absolute;
	font-size: 8rem;
	margin-right: 2rem;
	color: #fca311;
	top: 2.5rem;
	left: 53.59%;
	
}

.banner-paragraph{
	color: #fca311;
	font-size: 1rem;
	margin:0;
	★★★
}

.banner-paragraph p:first-child{
	font-size: 2.6rem;
	letter-spacing: .4rem;
	margin-left: -15rem;
}

.banner-paragraph p:last-child{
	font-size: 1.6rem;
	font-weight: bolder;
	text-align: center;
	color:#fdfcdc;
	letter-spacing: .2rem;
}

.hero-button{
	width:14rem;
	color:#fca311;
	height: 6rem;
	padding:.2rem;
	background: transparent;
	border: .2rem solid #fca311;
	outline: none;
	transition: all .4s;
}
.hero-button:hover{
	background-color: rgba(253,252,220, .2);
}
.hero-button:active{
	transform: scale(0.9, .9);
}
/* end of hero header */

/* samll screen */

		@media only screen and (max-width: 800px){
			.hidden{
				display: none;
			}
		}


		@media only screen and (max-width: 700px){
			/* small screen navbar */
			.header{
				margin-top: 0;
				margin-bottom: 0;
				position: relative;
				font-size: 1.6rem;
				color: #525050;
				
			}
			.desktop-search, .desktop-header-links, .desktop-header-account{
				display: none;
			}
			

			.burger-menu-icons-container{
				display: flex;
				justify-content: space-around;	
				align-items:center;
				border-bottom: 0.1rem solid grey;
			}		
			.mobile-input-toggle{
				display: none;
			}
			.mobile-nav-links{
				display: flex;
			}
			.nav-lines{
				height: .2rem;
				width: 3.5rem;
				background-color: #222;
				margin-bottom:.6rem;
				margin-right: .5rem;
			}

			.nav-line-1, .nav-line-3{
				transition: all .3s;
			}

			.top-header-nav-wrapper{
				position: absolute;
				width: 100%;
				top: 5.4rem;
				left: -100rem;
				text-align: center;
				background-color: white;
				transition: all .6s ;
				z-index: 20;
			}

			.navbar-menu{
				display: block;
				margin: 5rem auto;
				text-align: center;
				width: 100%;
				transition: all .3s ease;
				padding: 0;
			}

			.hidden-nav-checkbox:checked ~ .header .nav-line-1{
				transform: rotate(-405deg) translate(-5px, 6px) ;
			}

			.hidden-nav-checkbox:checked ~ .header .nav-line-2{
				opacity: 0;
			}

			.hidden-nav-checkbox:checked ~ .header .nav-line-3{
				transform: rotate(405deg) translate(-5px, -6px);
			}

			.hidden-nav-checkbox:checked ~ .header .top-header-nav-wrapper{
				display: flex;
				left: 0;
				text-align: center;
				flex-direction: column;
				flex-flow: column-reverse;	
			}

			.nav-item{
				border-bottom: .1rem solid  rgba(254,242,208, .5);
			}

			.navbar-menu .nav-item{
				margin-bottom: 5rem;
			}

			.desktop-logo{
				display: none;
			}

			.mobile-search{
				display: flex;
				justify-content: space-around;
				align-items:center;
				margin:.69rem 3rem .69rem -3rem;
				flex-grow: 1;
				transition: all .4s;

			}
			
			.header-search-btn{
				opacity: 0;
				transition: all .8s;
			}
			.mobile-header-search-form{
				position: relative;
				width: 0;
				height: 0;
				overflow: hidden;
				transition: all .2s;
			}
		
			.label::before{
				content: "\f002";
				font-family: FontAwesome;
				transition: all .3s;
			}

			.mobile-input-toggle:checked ~ .mobile-view-nav, .mobile-input-toggle:checked ~ .header-logo, .mobile-input-toggle:checked ~ .mobile-nav-links{
				display: none;
			}
			
			.mobile-input-toggle:checked ~ .header-search .label::before{
				opacity: 0;
				font-size: 0rem;
				
				
			}

			.mobile-input-toggle:checked ~ .header-search .label::after{
				opacity: 1;
				content: "X";
				font-weight: 700;
			}
			
			
			.mobile-input-toggle:checked ~ .header-search .mobile-header-search-form{
				
				height: auto;
				width: 80%;
				overflow: none;
				margin: 0 auto;
			}
			.mobile-input-toggle:checked ~ .header-search .mobile-header-search-form .mobile-header-search-btn{
				opacity: 1;
			}

			/* end of small screen navbar */

			/* hero header */
			
			.hero-heading{
				margin-bottom: 0;
				font-size: 1.3rem;
			}
			.hero-banner-content-heading{
				display: block;
				text-align: center;
			}
			
			.banner-heading{
				font-size: 10rem;
			}
			.banner-heading p:last-child{
				font-size: 5rem;
				top:1.67rem;
			}
			.banner-paragraph p:first-child{
				margin: 0;
				font-size: 1.2rem;
				margin-left: 0rem;
			}

			.banner-paragraph p:last-child{
				font-size: 1.2rem;
			}

			.banner-heading-percentage{
				left: 51%;
				
			}
			/* end of hero header */
		}

	

	/
/*end of small screen */
