html{
	font-size: 62.5%;
	box-sizing: border-box;
}

body{

	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.container{
	position: relative;
}
/* header menu */
.header{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.top-header{
	display: flex;

	flex-wrap: wrap;
	font-size: 1.5rem;
	justify-content:space-around;
	align-items: center;

}

.header-logo img{
	height: 100%;
	width: 15rem;
}

.header-search{
	flex-grow: 1;
	position: relative;
	
}

.header-search-input{
	width: 100%;
	border-radius: 2rem;
	height: 4rem;
	outline: none;
	padding: 1.3rem;
	box-sizing:border-box;
	background-color:#EBEBEB;
	border: none;
	color: grey;
	font-size: 1.8rem;
}

.header-search-btn{
	background-color: transparent;
	position: absolute;
	right: .8rem;
	top: 1.3rem;
	outline: none;
	border: none;

}
.header-links{
	margin-left:1rem;
}
.header-link{
	font-family: 'Josefin Sans', sans-serif;
	color: #525050;
	text-align: center;
}

.header-link:link{
	padding-right: 1.5rem; 
	color: grey;
}
.hidden{
	display: block;
	font-weight: 100;
	text-align: center;
	

}

.header-link:hover{
	color: #CAC7BE;

}

/* end of header menu */

/* navbar */


.navbar-menu {
	display: flex;
	font-size: 1.5rem;
	list-style-type: none;
	justify-content: flex-start;
	
}
.nav-item{
	margin-right: 3rem;
}

.nav-link{
	text-decoration: none;
	color: black;

}

.nav-link:active{
	font-weight: 500;
}

.nav-link:hover{
	color: #CAC7BE;
}



	/* small screen navbar */
		@media only screen and (max-device-width: 800px), (max-width: 800px){
			.hidden{
				display: none;
			}
		}


		@media only screen and (max-device-width: 1200px), (max-width: 1200px){

			.header{
				margin-top: 0;
				background-color: grey;
			}

			.top-header-nav-wrapper{
				display: none;
			}
			.burger-menu-icon{
				height: 5rem;
				padding-top: 1.3rem;		
				box-sizing:border-box;
				cursor: pointer;
				
			}		
			
			.nav-lines{
				height: .2rem;
				width: 3.5rem;
				background-color: #222;
				margin-bottom:.6rem;
			}

			.nav-line-1, .nav-line-3{
				width: 2.9rem;
				transition: all .6s;
			}

			.burger-menu-icon:hover .nav-lines {
				width: 3.5rem;
				
			}
			
			.hidden-nav-checkbox:checked ~ .header .nav-line-1{
				transform: rotate(-405deg) translate(-5px, 6px) ;
			}

			.hidden-nav-checkbox:checked ~ .header .nav-line-2{
				opacity: 0;
			}

			.hidden-nav-checkbox:checked ~ .header .nav-line-3{
				transform: rotate(405deg) translate(-5px, -6px);
			}

			.hidden-nav-checkbox:checked ~ .header .top-header-nav-wrapper{
				display: flex;
				flex-direction: column;
				flex-flow: column-reverse;
			}

			.

		}

	/* end of small screen navbar */


/* end of navbar */